<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/head :: head" th:remove="tag"></object>
    <title>Add/Edit Post | Carey Development</title>
    <script src="https://cdn.tiny.cloud/1/[YOUR API KEY HERE]/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<body>
<div class="container">
    <object th:include="fragments/topbar :: topbar" th:remove="tag"></object>

    <form id="addEditForm" th:action="@{/admin/addEditPost}" th:object="${blogPost}" method="POST">
        <div class="row">
            <div class="col-md-9">
                <label>Title</label>
                <div th:classappend="${#fields.hasErrors('title')} ? 'input-icon right' : ''">
                    <i th:if="${#fields.hasErrors('title')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid title" data-container="body"></i>
                    <input type="text" class="form-control" style="width:100%" maxlength="128" th:field="*{title}" placeholder="Enter title here"/>
                    <span th:if="${#fields.hasErrors('title')}" class="error" th:errors="*{title}"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9"> 
                <i th:if="${#fields.hasErrors('body')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid body" data-container="body"></i>           
                <textarea th:field="*{body}" style="width:100%; height:600px">
                    Welcome to TinyMCE!
                </textarea>
                <span th:if="${#fields.hasErrors('body')}" class="error" th:errors="*{body}"></span>
                <script>
                    tinymce.init({
                        selector: '#body',
                        plugins: 'link lists media image code',
                        toolbar: 'alignleft aligncenter alignright alignjustify | formatselect | bullist numlist | outdent indent | link image code',
                        toolbar_mode: 'floating',
                        tinycomments_mode: 'embedded',
                        tinycomments_author: 'Brian Carey',       
        
                        images_upload_handler: function (blobInfo, success, failure) {
                            var xhr, formData;
                        
                            xhr = new XMLHttpRequest();
                            xhr.withCredentials = false;
                            xhr.open('POST', 'http://localhost:8080/upload/image');
        
                            xhr.onload = function () {
                                var json;
        
                                if (xhr.status != 200) {
                                    failure('HTTP Error: ' + xhr.status);
                                    return;
                                }
        
                                json = xhr.responseText;
                                success(json);
                            };
        
                            formData = new FormData();
                            formData.append('file', blobInfo.blob(), blobInfo.filename());
        
                            xhr.send(formData);
                        },
                        
                        /* enable title field in the Image dialog*/
                        image_title: true,
                      
                        /* enable automatic uploads of images represented by blob or data URIs*/
                        automatic_uploads: true,
                                              
                        /*Here we add custom filepicker only to Image dialog*/
                        file_picker_types: 'image',
                      
                        /* and here's our custom image picker*/
                        file_picker_callback: function (cb, value, meta) {
                            var input = document.createElement('input');
                            input.setAttribute('type', 'file');
                            input.setAttribute('accept', 'image/*');
                    
                            input.onchange = function () {
                                var file = this.files[0];                    
                                var reader = new FileReader();
                                
                                reader.onload = function () {
                                    /*
                                    Note: Now we need to register the blob in TinyMCEs image blob
                                    registry. In the next release this part hopefully won't be
                                    necessary, as we are looking to handle it internally.
                                    */
                                    var id = 'blobid' + (new Date()).getTime();
                                    var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                                    var base64 = reader.result.split(',')[1];
                                    
                                    var blobInfo = blobCache.create(id, file, base64);                                    
                                    blobCache.add(blobInfo);
                    
                                    /* call the callback and populate the Title field with the file name */
                                    cb(blobInfo.blobUri(), { title: file.name });
                                };
                          
                                reader.readAsDataURL(file);
                            };
                    
                            input.click();
                        }              
                  });
              </script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <input type="submit" value="Save"/>
            </div>
        </div>    
    </form>    
</div>

</body>
</html>