<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/head :: head" th:remove="tag"></object>
    <title>Order Form</title>
</head>

<body>
    <h1>Order Form</h1>
    <form id="orderForm" th:action="@{/orderForm}" th:object="${order}" method="POST">
        <div class="line-item" th:each="lineItem, lineItemStatus : *{lineItems}">
            <input type="hidden" th:field="*{lineItems[__${lineItemStatus.index}__].product.name}"/>
            <input type="hidden" th:field="*{lineItems[__${lineItemStatus.index}__].product.priceValue}"/>
            <div class="product-name" th:text="${lineItem.product.name} + ' @ $' + ${lineItem.product.priceValue}"></div>
            <div class="product-quantity"><input class="quantity" type="number" min="0" max="5" value="0" th:field="*{lineItems[__${lineItemStatus.index}__].quantity}"/></div>
        </div>
        <div>
            <button type="submit">Check Out</button>
        </div>
    </form>
</body>
</html>